<div class="row">
    <div class="col-md-3">
        <div class="profile-container">
            <div class="profile-logo">
              <img src="../../../assets/user-24.png" alt="Profile Logo">
            </div>
            <div class="logout-button">
              <button>Logout</button>
            </div>
          </div>
    </div>

      <div class="col-md-9">
        <div class="formContainer">
            <form [formGroup]="form" (ngSubmit)="onSubmit(model)">
              <formly-form [form]="form" [fields]="fields" [model]="model" class="custom-form"></formly-form>
              <button type="button" class="btn btn-outline-warning" (click)="resetForm()">Reset</button>
            </form>
          </div>    
    </div>
</div>
  