.navbar .navbar-brand
{
    color: #FFD700;
    font-weight: bold;
}

.navbar-nav .nav-item .nav-link
{
    color: #FFD700;
    font-weight: bold;
}

  .profile-square {
    width: 30px; /* Adjust the width as needed */
    height: 30px; /* Adjust the height as needed */
    border-radius: 8px; /* Adjust the border-radius to create rounded corners */
    overflow: hidden;
  }
  
  .user-icon {
    width: 100%; /* Make sure the user icon fills the container */
    height: 100%; /* Make sure the user icon fills the container */
    object-fit: cover; /* Maintain the aspect ratio of the user icon */
  }